<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
    <title>{{title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="" />
      <meta name="author" content="" />

      <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
      <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
      <!--script src="js/less-1.3.3.min.js"></script-->
      <!--append ‘#!watch’ to the browser URL, then refresh the page. -->
    <link rel='stylesheet' href='/stylesheets/paulchristensennet.css' />
    <link rel='stylesheet' href='/css/bootstrap.css' />
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <![endif]-->
      <!-- Fav and touch icons -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
      <link rel="shortcut icon" href="content/images/menuBak.ico">
  </head>
  <body>
    <div id="layout-header" class="clearfix site-page-header-title">
        <div class="page-header">
            <h1>{{title}}</h1>
            <h5><i>{{description}}</i></h5>
        </div>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- ResponsiveBanner01 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6287349983602115"
                         data-ad-slot="3414534984"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button> <a class="navbar-brand" href="#"><img height="16" width="16" alt="16x16" src="content/images/menuBak.ico" class="img-circle" /></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li id="menu-home" class="jq-menu-item jq-menu-item-home-index">
                                <a href="#">Home</a>
                            </li>
                            <li id="menu-edda" class="jq-menu-item jq-menu-item-edda-blog-index">
                                <a href="#">Poetic Edda Blog</a>
                            </li>
                            <!--
                            <li id="menu-resume" class="jq-menu-item jq-menu-item-resume-index">
                               <a href="#">Resume</a>
                            </li>
                                -->
                            <!--li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                        -->
                        </ul>
                        <!--<form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>-->
                        <!--<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>-->
                    </div>
                </nav>

                <div class="row clearfix">
                    {{{body}}}

                    <div class="col-md-4">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="site-context-column-header"><h3>Links</h3></div>
                                <div>
                                    <ul>
                                        <li>
                                            <a href="https://sites.google.com/a/localixe.com/zen-of-beer-public/projects/zen-of-beer">@StringsTable.ZenOfBeerProjectsSite</a>
                                        </li>
                                        <li>
                                            <a href="https://sites.google.com/a/localixe.com/zen-of-beer-public/projects/zenofbeer-brewerydb">@StringsTable.ZenOfBeerBreweryDbProjectsSite</a>
                                        </li>
                                        <li>
                                            <a href="http://www.nuget.org/packages/ZenOfBeer.BreweryDb/">@StringsTable.ZenOfBeerBreweryDbNuget</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="site-context-column-header"><h3>Twitter Feed</h3></div>
                                <div><a class="twitter-timeline" href="https://twitter.com/ZenOfBeer" data-widget-id="713895571820453888">Tweets by &#64;ZenOfBeer</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="site-context-column-header"><h3>&nbsp;</h3></div>
                                <div>

                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- zenofbeer_sidebar_AdSense1_250x250_as -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:250px;height:250px"
                                         data-ad-client="ca-pub-6287349983602115"
                                         data-ad-slot="1150584981"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="row clearfix">
      <div class="col-md-12">
          <div class="col-md-8">
              <div class="social-network-block">
                  <div class="col-md-2"><a href="https://twitter.com/Pchris69" class="lsf-icon" title="twitter">Twitter</a></div>
                  <div class="col-md-2"><a href="https://www.facebook.com/profile.php?id=100006036828094" class="lsf-icon" title="facebook">Facebook</a></div>
                  <div class="col-md-2"><a href="https://plus.google.com/+PaulChristensen/posts" class="lsf-icon" title="google">Google+</a></div>
                  <div class="col-md-2"><a href="https://instagram.com/zenofbeer/" class="lsf-icon" title="instagram">Instagram</a></div>
                  <div class="col-md-2"><a href="http://www.ZenOfBeer.com" class="lsf-icon" title="blogger">Blogger</a></div>
                  <div class="col-md-2"><a href="https://www.linkedin.com/pub/paul-christensen/4/3ab/160" class="lsf-icon" title="linkedin">LinkedIn</a></div>
              </div>
          </div>
          <div class="col-md-4"></div>
      </div>
  </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h5>&copy;2015 <a href="http://www.paulchristensen.net">PaulChristensen.net</a></h5></div>
            <div class="col-md-4"></div>
        </div>
    </div>
  </body>
</html>
