body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
    border: ridge;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.site-page-header-title, div.site-context-column-header {
    background: #2E2017;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
}

/* FOOTER STYLES */
div.social-network-block {
    text-align: center;
}

/*LIGATURE SYMBOLS STYLES*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
    url('LigatureSymbols-2.11.woff') format('woff'),
    url('LigatureSymbols-2.11.ttf') format('truetype'),
    url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
    font-family: 'LigatureSymbols';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.lsf-icon:before {
    content:attr(title);
    margin-right:0.3em;
    font-size:130%;
}

.lsf-icon.amazon:before {
    content: '\E007';
}

.lsf .symbol {
    font-size: x-large;
}